<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style rel="stylesheet" type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      .wrapper {
        width: 90%;
        margin: 75px auto 0;
      }
      .left {
        float: left;
        width: 49%;
        height: 675px;
      }
      .right {
        float: right;
        width: 49%;
        height: 600px;
        display: none;
      }
      .right .inner {
        width: 540px;
        margin: 0 auto;
      }
      .right textarea {
        width: 100%;
        height: 100px;
        margin-top: 30px;
      }
      textarea {
        padding: 5px;
        font-size: 1.3rem;
        border: 3px gray solid;
        border-radius: 5px;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-qrcode2@1.0.0/dist/jquery-qrcode.min.js"></script>

    <title>Vmess 链接互转</title>
  </head>
  <body>
    <div class="wrapper">
      <textarea
        placeholder="请输入Vmess链接"
        id="input"
        class="left"
      ></textarea>
      <div class="right">
        <div class="inner">
          <div id="qrcode"></div>
          <textarea id="output" readonly></textarea>
        </div>
      </div>
    </div>
    <script type="application/javascript">
      let decodeVmess = (url) => {
        let vmessUrl = url;
        vmessUrl = vmessUrl.replace("vmess://", "");
        vmessUrl = atob(vmessUrl);
        return vmessUrl;
      };

      let encodeVmess = (url) => `vmess://${btoa(url)}`;

      let quantumultToV2rayN = (url) => {
        let vmessUrl = url;
        vmessUrl = decodeVmess(vmessUrl);
        let propsArr = vmessUrl.split(/,[ ]*/);
        let config = {
          v: 2,
          ps: propsArr[0]
            ? propsArr[0].replace(/[ ]*=[ ]*vmess$/, "")
            : undefined,
          add: propsArr[1] ? propsArr[1] : undefined,
          port: propsArr[2] ? propsArr[2] : undefined,
          id: propsArr[4]
            ? propsArr[4].replace(/^\"(.*)\"$/gi, "$1")
            : undefined,
          aid: parseInt(Math.random() * 10000),
          net: propsArr[8]
            ? propsArr[8].replace(/^obfs[ ]*=[ ]*/, "")
            : undefined,
          type: propsArr[3] ? propsArr[3] : undefined,
          host: propsArr[6]
            ? propsArr[6].replace(/^tls-host[ ]*=[ ]*/, "")
            : undefined,
          path: propsArr[9]
            ? propsArr[9].replace(/^obfs-path[ ]*=[ ]*\"(.*)\"$/gi, "$1")
            : undefined,
          tls: propsArr[5]
            ? JSON.parse(propsArr[5].replace(/^over-tls[ ]*=[ ]*/, ""))
              ? "tls"
              : ""
            : undefined,
        };

        return encodeVmess(JSON.stringify(config));
      };

      let v2rayNToQuantumult = (url) => {
        let vmessUrl = url;
        vmessUrl = decodeVmess(vmessUrl);
        let config = JSON.parse(vmessUrl);
        let qVmess = `${config.ps} = vmess,${config.add},${config.port},${
          config.type
        },"${config.id}",over-tls=${
          config.tls && config.tls === "tls"
        },tls-host=${config.add ? config.add : ""},certificate=1`;
        qVmess += config.net ? `,obfs=${config.net}` : "";
        qVmess += config.net
          ? `,obfs-path="${config.path ? config.path : ""}"`
          : "";
        qVmess += config.net
          ? `,obfs-header="${config.host ? "Host:" + config.host : ""}"`
          : "";

        return encodeVmess(qVmess);
      };

      let genResultAndQrCode = (vmessUrl, label) => {
        let options = {
          render: "canvas",
          ecLevel: "H",
          minVersion: 6,
          fill: "#333333",
          background: "white",
          text: vmessUrl,
          size: 540,
          radius: 0.01 * 50,
          quiet: 1,
          mode: 2,
          mSize: 0.01 * 11,
          mPosX: 0.01 * 50,
          mPosY: 0.01 * 50,
          label: label,
          fontname: "sans",
          fontcolor: "#ff9818",
          image: null,
        };
        $("#qrcode").empty().qrcode(options);
      };

      let clearHash = () =>
        history.replaceState(
          null,
          document.title,
          location.href.replace(/^(.*)#.*$/, "$1")
        );

      window.onload = () => {
        window.input = document.getElementById("input");
        if (location.hash) {
          input.value = location.hash.replace(/^#(.*)$/, "$1");
          input.onchange();
        } else {
          clearHash();
        }
      };

      input.onchange = () => {
        let output = document.getElementById("output");
        let inputUrl = input.value;

        if (inputUrl.startsWith("vmess://")) {
          let result;
          location.hash = inputUrl;
          $(".right").show();
          try {
            result = v2rayNToQuantumult(inputUrl);
            output.value = result;
            genResultAndQrCode(result, " Quantumult ");
          } catch (err) {
            result = quantumultToV2rayN(inputUrl);
            output.value = result;
            genResultAndQrCode(result, " v2rayN ");
          }
        } else if (inputUrl !== "") {
          $(".right").hide();
          alert("请输入正确的Vmess链接");
        } else {
          clearHash();
          $(".right").hide();
        }
      };
    </script>
  </body>
</html>
